@page
@using RazorPagesSpielwiese.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var test = "<b>Hi</b>";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>@test</p>
<p>@Html.Raw(test)</p>



<h3>Products</h3>

@foreach (ProductForSaleDTO product in Model.ProductForSale)
{
    <p>@product.ProductName.Trim(), @product.Price</p>
}



@*
Bsp für get
<form method="get">
    <label asp-for="SearchTerm">Suche</label>
    <input asp-for="SearchTerm" />
    <button type="submit">Suchen</button>
</form>

Bsp für Post
<form method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />

    <label asp-for="Email"></label>
    <input asp-for="Email" type="email" />

    <label asp-for="Message"></label>
    <textarea asp-for="Message"></textarea>

    <button type="submit">Absenden</button>
</form>
*@