@page
@model NewProductModel
@{
    ViewData["Title"] = "New Product";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h3>New Product</h3>

<form method="post">
    <div>
        <label asp-for="ProductToStore.ProductName"></label>
        <input asp-for="ProductToStore.ProductName" />
        <span asp-validation-for="ProductToStore.ProductName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ProductToStore.Description"></label>
        <input asp-for="ProductToStore.Description" />
    </div>
    <div>
        <label asp-for="ProductToStore.Category"></label>
        <input asp-for="ProductToStore.Category" />
        <span asp-validation-for="ProductToStore.Category" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ProductToStore.ProductPicture"></label>
        <input asp-for="ProductToStore.ProductPicture" />
    </div>
    <div>
        <label asp-for="ProductToStore.Price"></label>
        <input asp-for="ProductToStore.Price" />
        <span asp-validation-for="ProductToStore.Price" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ProductToStore.AmountOnStock"></label>
        <input asp-for="ProductToStore.AmountOnStock" />
        <span asp-validation-for="ProductToStore.AmountOnStock" class="text-danger"></span>
    </div>
    
    @* <span asp-validation-for="ProductToStore.Description" class="text-danger"></span> *@

    <button type="submit">Add new Product</button>
</form>
