@page
@using BusinessLayer.Models
@using EvilCorp2000.Pages.Shared.ViewModels
@model ShopViewModel
@{
    ViewData["Title"] = "Villain Shop";
}

@* Seitenindividuelle Verwendung von Stylesheets *@
@section Styles {
    <link rel="stylesheet" href="~/css/shopStyle.css" />
}


<div class="shop-toolbar">

    @await Html.PartialAsync("_SortPartial", new SortPartialViewModel
    {
        Search = Model.Search,
        SortOrderString = Model.SortOrderString,
        FilterCategoryString = Model.FilterCategoryString,
        FilterCategory = Model.FilterCategory,
        SortOrderAndDisplayStrings = Model.SortOrderAndDisplayStrings
    })

    <div class="pagination-wrapper">
        @await Html.PartialAsync("_PaginationPartial", (Model.SortOrderString, Model.PageNumber, Model.MaxPageCount, Model.PageSize, Model.Search, Model.FilterCategoryString))
    </div>

    <div>
        @await Html.PartialAsync("_FilterPartial", new FilterPartialViewModel
           {
               Search = Model.Search,
               SortOrderString = Model.SortOrderString,
               FilterCategoryString = Model.FilterCategoryString,
               FilterCategory = Model.FilterCategory,
               Categories = Model._categories
           })
    </div>
</div>


<div class="container">

    <div class="product-grid">
        @foreach (var product in Model.ProductsForSale)
        {
            @await Html.PartialAsync("_ProductCardPartial", product)
        }
    </div>

    @await Html.PartialAsync("_PaginationPartial", (Model.SortOrderString, Model.PageNumber, Model.MaxPageCount, Model.PageSize, Model.Search, Model.FilterCategoryString))

</div>